<div class="cover-container">
  <h1 ng-show="projects.currProject.org_name">{{projects.currProject.org_name}}</h1>
  <p ng-show="projects.currProject.org_info"><strong>Description:</strong>
    <br> {{projects.currProject.org_info}}
  </p>
  <hr>
  <form name="newProject" align="left" ng-submit="projects.submitNewProject()" novalidate>
    <div class="form-group">
      <input ng-model="projects.currProject.org_name" type="text" class="form-control" placeholder="Project Name" ng-required="required">
    </div>
    <div class="form-group">
      <input ng-model="projects.currProject.org_info" type="textarea" class="form-control" placeholder="Project Description" ng-required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success pull-left">Create</button>
      <div class="btn btn-default pull-right" ui-sref="Projects">Cancel</div>
    </div>
  </form>
</div>
