<div class="side-form">
  <div class="background"></div>
  <div class="content">
    <md-toolbar class="if-toolbar">
      <div class="md-toolbar-tools">
        <md-button aria-label="Close Invite Page" class="md-icon-button  md-mini" ng-click="inviteModalCtrl.close()">
          <md-icon md-font-set="material-icons">keyboard_arrow_left</md-icon>
        </md-button>
        <h4>{{inviteModalCtrl.title}}</h4>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <form name="manageApp" ng-submit="inviteModalCtrl.submitProjectUpdate()" novalidate>
        <div class="form-group">
          <label>Key ID</label>
          <input ng-model="inviteModalCtrl.modal.id_key" type="text" class="form-control" value="{{inviteModalCtrl.modal.id_key}}" ng-disabled="inviteModalCtrl.isDisabled" ng-required="required">
        </div>
        <div class="form-group">
          <label for="sel1">Key Type</label>
          <select class="form-control" id="sel1" ng-model="inviteModalCtrl.modal.id_type" ng-disabled="inviteModalCtrl.isDisabled">
            <option>email</option>
          </select>
        </div>
        <div class="form-group">
          <label>Role</label>
          <div ng-repeat="role in inviteModalCtrl.modal.roles track by $index">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="role.checked"> {{role.id}}
              </label>
            </div>
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-default" ng-click="inviteModalCtrl.close()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="inviteModalCtrl.done()">Save</button>
    </md-content>
  </div>
</div>
