<div ng-controller="UsersCtrl as userManager">
  <div class="md-toolbar-tools">
    <span flex></span>
    <md-button aria-label="Add New Project" class="md-icon-button md-raised md-mini" ng-click="userManager.launchModal(-1,'')">
      <md-icon md-font-set="material-icons" style="font-size:20px">add</md-icon>
    </md-button>
    <md-button aria-label="Edit Project" class="md-icon-button md-raised md-mini" ng-disabled="userManager.isEditDisabled" ng-click="userManager.launchModal()">
      <md-icon md-font-set="material-icons" style="font-size:20px">edit</md-icon>
    </md-button>
    <md-button aria-label="Delete Project" class="md-icon-button md-raised md-mini" ng-disabled="userManager.isDeleteDisabled" ng-click="userManager.deleteUserRole()">
      <md-icon md-font-set="material-icons" style="font-size:20px">delete</md-icon>
    </md-button>
  </div>
  <md-list flex class="if-page">
    <md-list-item class="md-3-line" ng-repeat="user in userManager.projectModel.users" ng-click="userManager.toggleUser($index,user.role)" ng-class="{if_project_selected: userManager.isUserSelected[$index]}">
      <div class="md-list-item-text" layout="column">
        <h3>{{user.username}}</h3>
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p>{{user.role}}</p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
  </md-list>
</div>
