<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">iF <strong>STUDIO</strong></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li ng-class="{ active:headers.isSet(1) }"><a href="" ng-click="headers.setTab(1)">Home</a></li>
        <li ng-class="{ active:headers.isSet(4) }"><a href="" ng-click="headers.setTab(4)">FAQ</a></li>
        <li ng-class="{ active:headers.isSet(5) }"><a href="" ng-click="headers.setTab(5)">Issues</a></li>
        <li ng-hide="portalCtrl.isGuest()" ng-class="{ active:headers.isSet(2) }"><a href="" ng-click="headers.setTab(2)">Projects</a></li>
        <!-- <li ng-class="{ active:headers.isSet(3) }"><a href="" ng-click="headers.setTab(3)">Apps</a></li> -->
        <li><button class="btn btn-warning" ng-click="portalCtrl.doLoginToggle()">{{portalCtrl.getLoginToggle()}}</button></li>
      </ul>
    </nav>
  </div>
</div>
<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#if-studio-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">iF <strong>STUDIO</strong></a>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
  </div>
  <div class="collapse navbar-collapse" id="if-studio-navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{ active:headers.isSet(1) }"><a href="" ng-click="headers.setTab(1)">Home</a></li>
      <li ng-class="{ active:headers.isSet(2) }"><a href="" ng-click="headers.setTab(2)">Projects</a></li>
      <li ng-class="{ active:headers.isSet(3) }"><a href="" ng-click="headers.setTab(3)">Apps</a></li>
      <li><button class="btn btn-warning navbar-btn" ng-click="portalCtrl.doLoginToggle()">{{portalCtrl.getLoginToggle()}}</button></li>
    </ul>
  </div>
</nav> -->