<div ng-controller="InvitesCtrl as inviteManager">
  <h4>
      <a role="button" data-toggle="collapse" data-parent="#projectAccordion" href="#projectInvite" aria-expanded="true" aria-controls="projectInvite"> Manage Invitations:</a>
      </h4>
  <div id="projectInvite" class="collapse in">
    <table class="table">
      <thead>
        <td>Key ID</td>
        <td>Key Type</td>
        <td>Role</td>
        <td></td>
        <td>
          <button class="btn btn-success pull-right" ng-click="inviteManager.launchModal(-1, '')">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </td>
      </thead>
      <tbody ng-repeat="invite in inviteManager.model.invites">
        <tr>
          <td>{{invite.id_key}}</td>
          <td>{{invite.id_type}}</td>
          <td>{{invite.role}}</td>
          <td>
          </td>
          <td>
            <div class="pull-right">
              <button class="btn btn-sm btn-warning" ng-click="inviteManager.launchModal($index)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <button class="btn btn-sm btn-danger" ng-click="inviteManager.deleteInviteRole($index)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
