<div class="modal fade" id="InviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Manage invite</h4>
      </div>
      <div class="modal-body">
        <form name="manageApp" ng-submit="inviteModalCtrl.submitProjectUpdate()" novalidate>
          <div class="form-group">
            <label>Key ID</label>
            <input ng-model="inviteModalCtrl.modal.id_key" type="text" class="form-control" value="{{inviteModalCtrl.modal.id_key}}" ng-disabled="inviteModalCtrl.isDisabled" ng-required="required">
          </div>
          <div class="form-group">
            <label for="sel1">Key Type</label>
            <select class="form-control" id="sel1" ng-model="inviteModalCtrl.modal.id_type" ng-disabled="inviteModalCtrl.isDisabled">
              <option>email</option>
            </select>
          </div>
          <div class="form-group">
            <label>Role</label>
            <div ng-repeat="role in inviteModalCtrl.modal.roles track by $index">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="role.checked"> {{role.id}}
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="inviteModalCtrl.done()">Done</button>
      </div>
    </div>
  </div>
</div>
