<div class="cover-container" ng-show="projects.currState('update')">
    <h1>{{projects.currProject.org_name}}</h1>
    <hr>
    <form name="updateProject" align="left" ng-submit="projects.submitProjectUpdate()" novalidate>
        <h4>Update project:</h4>
        <div class="form-group">
            <input ng-model="projects.currProject.org_name" type="text" class="form-control"  value="{{projects.currProject.org_name}}" ng-required="required">
        </div>
        <div class="form-group">
            <input ng-model="projects.currProject.org_info" type="textarea" class="form-control" value="{{projects.currProject.org_info}}" ng-required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success pull-left">Update</button>
            <div ng-click="projects.reset()" class="btn btn-default pull-right">Cancel</div>
        </div>
    </form>
</div>
